<h1>Статьи</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "Новая статья", new_article_path, class: "btn btn-danger" %>